---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>How Did You Find Me?</h1>
			<p>
				Well somehow you found this site. Congratulations.. I guess? There's really 
				not much to see here right now. I'm just kind of playing around with this 
				site building stuff since I purchased this domain. No idea what I'm doing here
				so don't expect much.
			</p>
		
		</main>
		<Footer />
	</body>
</html>
